/* =========================
   ABOUT SECTION
========================= */

.about-section {

    padding: 80px 0;
}

/* IMAGE */

.about-image img {

    width: 300px;

    height: 300px;

    object-fit: cover;

    border-radius: 50%;

}

/* CONTENT */

.about-content h2 {

    font-size: 32px;

    margin-bottom: 20px;
}

.about-content .lead {

    font-size: 20px;

    font-weight: 300;

    line-height: 1.7;

    margin-bottom: 20px;
}

.about-content p {

    line-height: 1.8;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .about-image img {

        width: 200px;
        height: 200px;
    }
}